/*over here is the stuff for the nav bar and header at the top of every page*/

/*im so close to giving up I swear I can feel myself getting angrier with each character I type*/
nav{
    margin: 75px auto 50px auto;
    display:flex;
    flex-direction: row;
    width: fit-content;
    top: 0;
}

header {
    z-index: 1;
    margin: 0 auto;
    max-width: 1000px;
    background-image: url("img/DSCN1903.jpg");
}
/*wanna figure out a way to make this image crop to fit but you're still able to see the whole image if you scroll.
not sure how else to describe it*/

:root{
    --headFont: "DM Sans", sans-serif;
    --everythingFont: 'Open Sans', sans-serif;
    --Color: #8afbe5;
}

.logos {
    display: flex;
    flex-direction: row;
}

img {
    max-height: 50vh;
}

.logos img {
    max-height: 20vh;
}

header > * {
    display: block;
}

header img {
    max-height: 80vh;
}

/** Basic styling */
html{width: 100%;
    height: 100%;
    box-sizing: border-box;}

@media (max-width: 720px) {
    #body {
        width: 103%;
    }
}

.photography{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 100%;
}

.photoimg {
    display: flex;
    flex-direction: column;
    margin: auto auto 20px auto;
}
/**this up here controls the distance between whats below the images**/
.photoimg img {
    max-width: 500px;
    width: 90%;
}
.photoimg figcaption{
    margin: auto;
}

body{
    overflow-x: hidden;
    margin:0;
    font-family: var(--everythingFont);
    line-height: 1.5;
    color:#111;
}
#body {

    width:80%;

    max-width: 1740px;

}

