/*over here is the stuff for the nav bar and header at the top of every page. considering putting it at the bottom for the OS idea*/

/*im so close to giving up I swear I can feel myself getting angrier with each character I type
why does deleting bottom make it not sticky?*/

footer{
    background-color: #BEBEC2;
    padding-top: 10px;
    padding-left: 10px
}

.main-header {
    position:sticky;
    height: 100px;
    top: 0px;
    background-color: #BEBEC2;
    text-align: center;
    padding-bottom: 10px;
}
nav {
    flex-direction: row;
    margin: 0 0 0 -850px;
}
/*adding a margin to nav img makes a white space under the bottom of the footer block.
editing the nav image max width also affects text?*/

nav img{
    max-width: 90px;
}

.homeb img{
    max-width: 100px;
    padding-top: 10px;
    padding-right: 30px;
}

.icon img{
    max-width: 60px;
}

:root{
    --headFont: "DM Sans", sans-serif;
    --everythingFont: 'cascadia mono', serif;

}

.logos {
    display: flex;
    flex-direction: row;
}

img {
    max-height: 50vh;
}

.logos img {
    max-height: 15vh;
}

header > * {
    display: block;
}


/** Basic styling */
html{width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-content: center;
}

@media (max-width: 720px) {
    #body {
        width: 100%;
    }
}

.photography{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 100%;
}

.photoimg {
    display: flex;
    flex-direction: column;
    margin: auto auto 20px auto;
}
/**this up here controls the distance between whats below the images**/
.photoimg img {
    max-width: 500px;
    width: 90%;
}
.photoimg figcaption{
    margin: auto;
}



.intro {
    padding-top: 0px;
    max-width: 500px;
    background-color: #BEBEC2;
}

body{
    height: stretch;
    margin:0px;
    font-family: var(--everythingFont);
    line-height: 1.5;
    color:#111;
    background-color: #008084;
}
.contents{
    margin:0px 20px 0px;
    padding-bottom: 10px;
}